html {
    background-color: rgb(32, 211, 32);
}

.image {
    background-image: url(image@1x.png);
}
@media (min-resolution: 2dppx) {
    .image {
        background-image: url(image@2x.png);
    }
}
