// Variables
@link-color: #428bca; // sea blue
@link-color-hover: darken(@link-color, 10%);

// Usage
a,
.link {
    color: @link-color;
}

a:hover {
    color: @link-color-hover;
}

.widget {
    color: #fff;
    background: @link-color;
}
